$orangeFontColor: #FF5733;

.displayNav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    top: 0px;
    z-index: 1;
    width: 100%;
    position: fixed;
    padding: 12px 0px;
    background-color: #1c2428;
    opacity: 96%;
}

a.active {
    color: $orangeFontColor;
    text-decoration: none;
}

a.inactive {
    color: whitesmoke;
    text-decoration: none;
}

.orangeFontColor {
    color: $orangeFontColor;
}

.navItem {
    padding: 10px 10px;
    transition: transform 0.2s ease;
}

.navItem:hover {
    backface-visibility: hidden;
    transform: scale(1.02);
}

.imageSelfDefault {
    height: 350px;
    width: 350px;
    float: inline-end;
}

.sectionBody {
    margin: 80px;
    display: flex;
    flex-wrap: wrap;
}

.homeInfo {
    // width: 750px;
    margin: 50px 0px 0px 40px;
}

.extraPadding {
    padding-top: 170px !important;
}

.commonContainer {
    justify-content: center;
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

.skillsButton {
    margin: 10px 10px 0px 0px;
    font-size: 15px;
    cursor: auto;
    transition: transform 0.3s ease;
    color: whitesmoke;
    background-color: #1c2428;
    opacity: 95%;
}

.skillsButton:hover {
    transform: scale(1.1);
    color: $orangeFontColor;
}

.imgSkill {
    width: 22px;
    padding-right: 3px;
    padding-bottom: 3px;
}

.insideContainerIntro {
    font-size: 20px;
    padding-bottom: 15px;
    text-align: center;
    color: $orangeFontColor;
}

.insideContainer {
    font-size: medium;
    color: whitesmoke;
    width: 700px;
    text-align: center;
    margin: 0px 40px;
}

.insideContainerWithoutAlignment {
    font-size: medium;
    color: whitesmoke;
    width: 700px;
    margin: 0px 40px;
}

@mixin fontHome {
    color: whitesmoke;
    margin: 10px 0px;
}

.fontPrimary {
    font-size: 20px;
    @include fontHome();
}

.fontSecondary {
    font-size: 40px;
    @include fontHome();
}

.social-links {
    font-size: 25px;
    display: inline-block;
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    line-height: 1;
    margin: 20px 0px;
    transition: transform 0.3s ease;
}

.social-links a {
    padding: 8px;
    color: whitesmoke;

    :hover {
        color: $orangeFontColor;
        transition: transform 0.3s ease;
    }
}

.btn-secondary {
    margin-top: -10px;
    font-size: 12px;
    margin-right: 8px;
    transition: transform 0.3s ease;
}

.btn:hover {
    color: $orangeFontColor !important;
    transform: scale(1.1);
}

#typed-output {
    font-size: 20px;
    color: $orangeFontColor;
}

.typed-cursor {
    font-size: 20px;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.skillAnimation {
    text-align: center;
    margin-top: 50px;
}

.experienceFormat {
    padding-top: 20px;
}

.paddingBetweenBulletPoints {
    padding: 5px 0px;
}

.sendMessage {
    margin-top: 10px;
    width: 125px;
}

.paddingForm {
    padding-top: 10px;
}

.contactForm {
    float: inline-end;
    width: 64%;
    padding-top: 25px;
    text-align: left !important;
}

.contactFormFlexContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contactMeEmail {
    color: whitesmoke;
}

.contactmeImage {
    width: 150px;
    height: 260px;
    border-radius: 10px;
}

.btnAccordion:hover {
    transform: scale(1.02);
}

.invalid-field {
    border: 2px solid rgba(255, 0, 0, 0.5);
    background-color: #ffe6e6;
}

.sectionClass {
    height: 50%;
}

.copyright {
    text-align: center;
    padding-top: 70px;
    color: grey;
}

.mainDiv {
    display: block;
}

.rightReserved {
    padding-left: 45px;
}

.card {
    background-color: #1c2428;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    opacity: 95%;
}

.section {
    opacity: 0;
    visibility: hidden;
}

.section.ng-animating {
    opacity: 1;
    visibility: visible;
}